[submodule "XMLKit"]
	path = XMLKit
	url = https://github.com/daltoniam/XMLKit.git
[submodule "GPSocket"]
	path = GPSocket
	url = https://github.com/daltoniam/GPSocket.git
[submodule "GPHTTPRequest"]
	path = GPHTTPRequest
	url = git://github.com/daltoniam/GPHTTPRequest.git
